<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>Document</title>
</head>
<body>
  <div class="wrapper">
	<div><h1>HireSmart</h1></div>
	   <div class="container">
		      <form class="form" method="POST" action="{{ url_for('result') }}">
			         <input type="text" name="recruiter" placeholder="Enter your profile link">
			         <input type="submit" value="Submit" class="center" width="30%">
					 <br>
					 <h3 style="font-size: 20px;">Please wait after providing the link to your profile</span>
		      </form>
	   </div>
   </div>

   <script>
	   function displayWaitMessage(){
		   var submit_btn = document.getElementById("submitbtn");
		   submit_btn.value = "Please wait ..";

	   }
   </script>
</body>
</html>
