<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <title>
    Results
  </title>

  <!-- Include Bootstrap for styling -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Include the Bootstrap Table 
  CSS for the table -->
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
</head>

<body>
  <div class="">
    <div class="container pt-5">
      <h2 class="text text-info text-center" style="font-size: 60px;">
        HireSmart
      </h2>
      <h5 class="text text-info text-center">
        Results
      </h5>

      <br>
      <br>
      
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by: Default
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Default</a>
          <a class="dropdown-item" href="#">Python Developer</a>
          <a class="dropdown-item" href="#">Java Developer</a>
          <a class="dropdown-item" href="#">Web Developer</a>
          <a class="dropdown-item" href="#">System Engineer</a>
        </div>
      </div>
      
      <br>
      <br>
      <br>
<!-- 
      {% for i in profiles %}
        <div class="col-lg-10">
          <div class="row">
            <div class="col-sm-7">
              <h5>{{ profiles[i]["name"] }}</h5>
              <h6 class="text-secondary">{{ profiles[i]["cuurent_job"] }}</h6>
              <a href="{{ profiles[i]["name"] }}">Visit Profile</a>
            </div>
            <div class="col-xs-5">
              <h6>Skills</h6>
              <span>{{ profiles[i]["skills"] }}</span>
            </div>
          </div>
          <hr class="bg-muted center" style="width: 50%;">
        </div>
      {% endfor %} -->


      <table class="table-striped border-success">
        <thead>
          <tr>
            <th data-field="name">
              <span class="text-info">
                Name
              </span>
            </th>
            <th data-field="profile_link">
              <span class="text-info">
                Profile Link
              </span>
            </th>
            
            <th data-field="skills">
              <span class="text-info">
                Skills
              </span>
            </th>
            <th data-field="Current Job">
              <span class="text-info">
                Current Job
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          {% for i in profiles %}
          <tr>
            <td>{{ profiles[i]["name"] }}</td>
            <td><a class="text-info" href="{{ profiles[i]["name"] }}">Visit Profile</a></td>
            <td>{{ profiles[i]["skills"] }}</td>
            <td>{{ profiles[i]["cuurent_job"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Include jQuery and other required files for Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  </script>

  <!-- Include the JavaScript file for Bootstrap table -->
  <script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js">
  </script>

  <!-- Include the file where the JSON data is stored -->
  <script type="text/javascript" src="scrappeddata_hackerearth.js">
  </script>
  <script type="text/javascript">
    $(document).ready(function () {

      // Use the given data to create  
      // the table and display it 
      $('table').bootstrapTable({
        data: mydata
      });
    });

    // Parse the imported data as JSON 
    // and store it 
    var mydata = JSON.parse(da) 
  </script>
</body>

</html>